<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=divice-width, initial-scale=1.0">
    <title>Web</title>
    <link rel="stylesheet" href="./nav.css">
    <link rel="stylesheet" href="./search.css">
    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
</head>

<body>
    <input type="checkbox" id="nav-cb">
    <label for="nav-cb" class="menu"></label>
    <nav>
        <div class="logo">
            <a href="/">
                <img src="./img/logo.png" alt="LOGO">
            </a>
        </div>
        <label for="nav-cb" class="menu"><span class="material-symbols-outlined">menu</span></label>
        <div class="nav-link">
            <label for="nav-cb" class="close-btn"><span class="material-symbols-outlined">close</span></label>
            <ul>
                <li><a href="/">หน้าแรก</a></li>
                <li><a href="./search">ค้นหาพื้นที่</a></li>
                <li><a href="./reserve_page">Reserve Area</a></li>
                <li><a href="">Help</a></li>
                <li>
                    <div class="authen">
                        <a href="">เข้าสู่ระบบ</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="wrapperresult">
        <h1 class="resulth1">Reserve Area</h1>
        <div class="containerresult">
            <div class="boxresult">  
                <img class="imgresult" src="./img/market1.jpeg">
                <h3 class="resulth3">เจ้าสัวพลาซ่า</h3>
                <p class="resultp">เปิดบริการทุกวันจันทร์-อาทิตย์ เวลา 16:00 - 23:00 น.</p>
                <p class="resultp">สอบถามเพิ่มเติมหรือติดต่อพื้นที่เช่า โทร. 099-226-1636</p>
                <a href="#" class="btnresult">More Info</a>
            </div>
            <div class="boxresult">
                <img class="imgresult" src="./img/foodie.jpeg">
                <h3 class="resulth3">Foodie Bangna</h3>
                <p class="resultp">เปิดบริการทุกวันจันทร์-อาทิตย์ เวลา 11:00 - 23:00 น.</p>
                <p class="resultp">สอบถามเพิ่มเติมหรือติดต่อพื้นที่เช่า โทร. 095-742-9396</p>
                <a href="#" class="btnresult">More Info</a>
            </div>
            <div class="boxresult">
                <img class="imgresult" src="./img/kice.jpg">
                <h3 class="resulth3">ศูนย์ประชุมและแสดงสินค้านานาชาติ ขอนแก่น (KICE)</h3>
                <p class="resultp">เปิดบริการทุกวันจันทร์-ศุกร์ เวลา 9:00 - 17:30 น.</p>
                <p class="resultp">สอบถามเพิ่มเติมหรือติดต่อพื้นที่เช่า โทร. 091-774-9230</p>
                <a href="./kice_detail" class="btnresult">More Info</a>
            </div>
            <div class="boxresult">
                <img class="imgresult" src="./img/tontan.jpg">
                <h3 class="resulth3">ตลาดต้นตาล</h3>
                <p>เปิดบริการทุกวันจันทร์-ศุกร์ เวลา 17:00 - 22:30 น.</p>
                <p class="resultp">สอบถามเพิ่มเติมหรือติดต่อพื้นที่เช่า โทร. 083-284-5351</p>
                <a href="#" class="btnresult">More Info</a>
            </div>
        </div>
    </div>
</body>

</html>