<!doctype html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<link rel="stylesheet" href="./area.css"> 
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
	<title>area_detail</title>
</head>
<body>
	<input type="checkbox" id="nav-cb">
    <label for="nav-cb" class="menu"></label>
    <nav>
        <div class="logo">
            <a href="/">
                <img src="./img/logo.png" alt="LOGO">
            </a>
        </div>
        <label for="nav-cb" class="menu"><span class="material-symbols-outlined">menu</span></label>
        <div class="nav-link">
            <label for="nav-cb" class="close-btn"><span class="material-symbols-outlined">close</span></label>
            <ul>
                <li><a href="/">หน้าแรก</a></li>
                <li><a href="">ค้นหาพื้นที่</a></li>
                <li><a href="">Reserve Area</a></li>
                <li><a href="">Help</a></li>
                <li>
                    <div class="authen">
                        <a href="">เข้าสู่ระบบ</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <H1 th:text="เจ้าสาวสัวพลาซ่า">62 Blog</H1>
      <div class="mainbox">
        <img class="pic1" src="./img/market1.jpeg" alt="รูปพื้นที่" >
        <div class="content-1-box1">
            <p class="section-box1" >เปิดบริการ: จันทร์ - อาทิตย์ เวลา 16:00 - 23:00 น.</p>        
          	<p class="section-box1">ที่ตั้ง: บางกรวย บางกรวย นนทบุรี</p>
          	<p class="section-box1">ช่วงราคา: 2500 - 20000 บาท/เดือน</p>
            <p class="section-box1">ขนาดพื้นที่: 4 - 100 ตารางเมตร</p>    
        </div>
         <div class="content-2-box1">
           <p class="section-box1">สิ่งอำนวยความสะดวก,สถานที่ใกล้เคียง</p>
	          	<ul class="custom-list">
		        	<li>ใกล้ที่อยู่อาศัย</li>
		        	<li>ใกล้ออฟฟิศ</li>
		        	<li>มีลานจอดรถ</li>
		        	<li>ใกล้สถานศึกษา</li>
	   			</ul>
	           
          
           </div>
    </div>
    <div class="secondbox">
      <div class="secondboxhead">
      <H2 class="pmap">ที่ตั้งของพื้นที่</H2>
      </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3874.5444468467012!2d100.48935797509124!3d13.806313586591259!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29b2166597f35%3A0xda7d49b461ffd44d!2z4LmA4LiI4LmJ4Liy4Liq4Lix4Lin4Lie4Lil4Liy4LiL4LmI4Liy!5e0!3m2!1sth!2sth!4v1696762634163!5m2!1sth!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="thirdbox">
    <div class="thirdboxhead">
    <H2 class="pmap">พื้นที่ต้องการจอง</H2>
     	</div>
      <script>
        function toggleSelect(boxId) {
            var box = document.getElementById(boxId);
            if (box.classList.contains('selected')) {
                box.classList.remove('selected');
            } else {
                box.classList.add('selected');
            }
        }
    </script>
  <div class="mainbox">
            <div class="box2" id="box1" onclick="toggleSelect('box1')" >p01</div>
			<div class="box" id="box2" onclick="toggleSelect('box2')">p02</div>
			<div class="box2" id="box3" onclick="toggleSelect('box3')">p03</div>
			<div class="box" id="box4" onclick="toggleSelect('box4')">p04</div>
    		<div class="box2" id="box5" onclick="toggleSelect('box5')" >p05</div>
			<div class="box" id="box6" onclick="toggleSelect('box6')">p06</div>
			<div class="box2" id="box7" onclick="toggleSelect('box7')">p07</div>
			<div class="box" id="box8" onclick="toggleSelect('box8')">p08</div>
      </div>
      <div class="content-2-box3">
      <div class="boxshowblue"></div>
        <p>ไม่ว่าง</p>
        <div class="boxshowpink"></div>
        <p>ว่าง</p>
    </div>
  
</body>
</html>
